header{
  background-color: rgba(216, 216, 216, 0.1);
  backdrop-filter: blur(50px);
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);
  position: fixed;
  width: 100vw;
  z-index: 2;
  ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 30px;
    li{
      z-index: 1;
      margin: 20px 20px 20px;
      transition: transform  0.1s;
      a{
        color: white;
      }
      &:hover{
        transform: scale(1.1);
      }
    }
  }
}