@media only screen and (max-width:500px) {
  header{
    ul{
      li{
        margin: 20px 10px 20px;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  header{
    div{
      display: none;
    }
  }
}

@media only screen and (max-width: 1150px) {
  #skills,#about{
    .row {
      display: flex;
      flex-direction: column;
      p{
        margin-top: 30px;
      }
    }
  }
  #skills{
    #box{
      width: auto;
      height: 400px;
    }
  }
}
